<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="titulo">
            <mat-icon aria-hidden="false">bookmarks</mat-icon>
            CodeBooks
        </span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon aria-hidden="false">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon aria-hidden="false">account_circle</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>