<mat-card class="carrinho">
    <mat-card-header>
        <mat-card-title>Carrinho de compras</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p *ngIf="empty">Não há itens no carrinho</p>
        <div *ngIf="!empty">

            <table style="width:100%; text-align: center;">
                <tr>
                    <th>Book</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let cart of arrCart">
                    <td><img [src]="getURL(cart.ISBN)" alt="cart.title"></td>
                    <td>{{cart.title}}</td>
                    <td>{{cart.price}}</td>
                    <td>
                        <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            (click)="add(cart.ISBN)">
                            <mat-icon>add</mat-icon>
                        </button>
                        {{cart.quantity}}
                        <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            [disabled]="cart.quantity < 2"
                            (click)="remove(cart.ISBN)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </td>
                    <td><button (click)="deleteBookOfCart(cart.ISBN)" mat-raised-button>Delete</button></td>
                </tr>
            </table>

            <br>
            <p>Total: {{getTotal()}}</p>

        </div>
    </mat-card-content>
    <mat-card-actions class="align">
        <button routerLink="/home" mat-raised-button>Continuar comprando</button>
        <button mat-raised-button color="primary">Concluir</button>
    </mat-card-actions>
</mat-card>